.code-box {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  border: 1px solid #d6d6d6;
  margin: 1rem 0;
}

.code-box > input {
  width: 87%;
  padding: .5rem 1rem;
}

.code-box>div {
  width: 13%;
  padding: .5rem;
  text-align: center;
}

.order-list {
  display: flex;
  flex-direction: column;
  margin: 1rem 0;
  font-size: 15px;
  color: #757575;
  padding-bottom: 40px;
}

.order-list li.on {
  color: #0f79fd;
  font-weight: bold;
}

.order-list li span {
  margin-right: 5px;
  color: #757575;
}

.noView {
  display: none;
}

.view {
  display: inline-block;
}

.submit-btn.noSend {
  background: #d3d3d3;
  cursor: auto;
}

/* mobile first css*/
/* 모바일 뷰포트 초과 */
/* 스크린의 크기가 767을 넘게된다면 해당 스타일을 적용합니다. 테블릿 및 데스크탑의 공통 css 영역입니다. 테블릿을 위한 영역이기도 합니다. 테블릿 스크린에만 적용될 css를 작성합니다. */
@media screen and (min-width: 767px) {
  .order-list {
    flex-direction: row;
  }
}