.article_create_img_div {
    display: flex;
    justify-content: center;
    align-items: center;
}
.article_select_category {
    border: 1px solid #a2a2a2;
    padding: .5rem;
    border-radius: 5px;
    margin-bottom: 1rem;
    width: 110px;
    text-align: center;
    cursor: pointer;
}
.article_youtube_summarize_btn_div {
    display: flex;
    justify-content: end;
    align-items: center;
}
.article_youtube_summarize_btn {
    padding: .2rem .5rem;
    border-radius: 5px;
    width: 130px;
    text-align: center;
    cursor: pointer;
    font-size: 13px;
    color: white;
    background-color: #a2a2a2;
}
.article_youtube_summarize_btn:hover {
    font-weight: bold;
}