.comments_whole {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.comments {
    width: 100%;
    padding: 0 0.2rem;
    margin-bottom: 3rem;
    color: var(--text-color);
    max-width: 800px;
}
.comments_create_div {
    display: flex;
    align-items: center;
    justify-content: center;
    height: min-content;
}
.comments_create {
    display: flex;
    height: 1.5rem;
    height: fit-content;
    border: 1px solid var(--main-color-op60);
    border-radius: 0.2rem;
    margin-bottom: 2rem;
    width: calc(100% - 30px);
}
.comments_create_title {
    font-size: 16px;
    font-weight: 500;
    margin-left: 10px;
    margin-bottom: 15px;
}
.comments_create_input {
    flex: 1;
    resize: none;
    border: none;
    border-radius: 0.2rem 0 0 0.2rem;
    padding: 0.5rem;
    font-size: 14px;
}
.comments_create_btn {
    width: fit-content;
    padding: 0 1rem;
    background-color: var(--main-color);
    border: none;
    font-size: 13px;
}
.comments_create_btn:hover {
    cursor: pointer;
}
.comments_all_div {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.comments_each_div{
    margin: 0.5rem 0 0rem 0;
    border: 0.1px solid var(--main-color);
    border-radius: 0.2rem;
    width: calc(100% - 30px);
}
.comments_header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 0.1px solid var(--light-color);
    background-color: var(--light-color);
    padding: 0.3rem;
}
.comments_author {
    display: flex;
    align-items: center;
}
.comments_author:hover {
    cursor: pointer;
}
.comments_author_img {
    min-height: 25px;
    min-width: 25px;
    max-width: 25px;
    max-height: 25px;
    border-radius: 25px;
    margin: 3px 9px 3px 3px;
}
.comments_author_nickname {
    font-size: 14px;
    font-weight: 600;
}
/* .comments_UD_btns {
    
} */
.comments_update_btn {
    width: fit-content;
    height: fit-content;
    border: none;
    border-radius: 1rem;
    font-size: 12px;
    background-color: var(--main-color-op60);
    padding: 0.3rem 0.4rem;
    margin-right: 0.1rem;
}
.comments_update_btn:hover {
    cursor: pointer;
}
.comments_delete_btn {
    width: fit-content;
    height: fit-content;
    border: none;
    border-radius: 1rem;
    font-size: 12px;
    background-color: var(--main-color-op60);
    padding: 0.3rem 0.4rem;
    margin-left: 0.1rem;
}
.comments_delete_btn:hover {
    cursor: pointer;
}
.comments_content_div {
    display: flex;
    border-bottom: 0.1px solid var(--main-color-op60);
    min-height: 60px;
}
.comments_content {
    margin: 10px 8px;
    font-size: 0.9rem;
    /* border: 1px solid; */
}
.comments_update_input {
    flex: 1;
    margin: 0.6rem 0.4rem;
    border: none;
    resize: none;
    font-size: 0.8rem;
}
.comments_footer {
    display: flex;
    align-items: center;
    justify-content: end;
    margin: 0.2rem 0.4rem;
    /* border: 1px solid; */
}
.comments_create_at {
    font-size: 11px;
    padding-top: 0.3rem;
    color: gray;
    /* border: 1px solid; */
}