.presentation {
    z-index: 1200;
    position: absolute;
}
.wrapper-modal {
    position: fixed;
    inset: 0px;
    background-color: rgb(0 0 0 / 71%);
    -webkit-tap-highlight-color: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
}
.modal {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
}
.modal__content {
    padding: 20px;
    color: black;
    min-width: 90vw;
  }
.search_modal_content {
    display: flex;
}
.search_modal_left {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.search_modal_btn {
    /* border: 1px solid; */
    border-radius: 20px;
    background-color: var(--main-color-op50);
    padding: 10px;
}
.search_img_preview {
    width: 150px;
    min-height: 200px;
    object-fit: contain;
}
.search_modal_right {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.search_modal_detected_ingres {
    border: 1px solid var(--main-color-op90);
    min-width: 100px;
}
.search_modal_footer {
    display: flex;
    justify-content: center;
    align-items: center;
}