.searchBar-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 1.5rem;
  border-bottom: 1px solid rgb(206, 206, 206);
}

.logo-img {
  width: 70px;
  cursor: pointer;
}

.logo-img_web {
  display: none;
}

.searchBar-wrap {
  padding: 12px;
  width: 68%;
  min-width: 45%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 6px;
  border: 1px solid #a5a5a5;
  box-shadow: rgb(247, 247, 247) 0px 0px 0px 1px inset;
}

.searchBar-wrap input {
  width: 75%;
}

.search__btn {
  text-align: center;
  font-weight: bold;
  cursor: pointer;
  color: #838383;
  font-size: 18px;
}

@media screen and (min-width: 1023px) {
  .searchBar-container {
    padding: 1rem 0 0;
  }
  .searchBar-wrap input {
    width: 87%;
  }
  .logo-img {
    display: none;
  }
  .logo-img_web {
    display: block;
    font-weight: 600;
    color: #1e65e9;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
  }
  .logo-img_web span:nth-child(1) {
    font-size: 30px;
    margin-right: 10px;
  }
  .logo-img_web span:nth-child(2) {
    font-size: 18px;
  }
}